
<ion-header [translucent]="true">

  <ion-toolbar color="primary">
  <div class="row  justify-content-between">

    <div class="col">
      <a routerLink="/home">

          <ion-fab-button>
            <i class="fas fa-times text-danger"></i>
          </ion-fab-button>

  </a>

    </div>


    <div class="col my-3">

        Invoice/Share

    </div>

    <div class="col-2">

      <a routerLink="/settings">
        <ion-fab-button>
          <ion-icon name="settings-outline"></ion-icon>
        </ion-fab-button>
      </a>

    </div>

  </div>

  </ion-toolbar>
</ion-header>





<ion-content>

  <ion-grid>
    <ion-row>


   <ion-col  size-md="12">

             <ion-row>

              <ion-col size-md="8" size-sm="12" offset="2">

                <ion-card class="ion-padding-top">


                  <div class="text-center justify-content-center">
                    <ion-label mode-md><span><img src="../../assets/images/testimonial-author1.jpg" class="rounded-pill img-thumbnail shadow-lg"></span></ion-label>
                  </div>

                  <br>

                  <ion-card-content>



                    <div class="ion-text-center">


                      <ion-label class="ion-text-lg-capitalize" color="primary">
                            <h1 class="ion-text-capitalize">company name:</h1>
                            <h2 class="font-weight-bold">Vintis-inc</h2>

                          </ion-label>

                    </div>



                    <div class="ion-text-start">


                      <ion-label class="ion-text-lg-capitalize" color="primary">
                            <h1 class="ion-text-capitalize">director name:</h1>
                            <h2 class="font-weight-bold">Vintis</h2>

                          </ion-label>

                    </div>

                    <div class="ion-text-end">

                      <ion-label class="ion-text-lg-capitalize" color="primary">
                            <h1>Address:</h1>
                            <h2 class="font-weight-bold"> Delta state <br> 7 housing coding street</h2>

                          </ion-label>

                    </div>

                <br>
                    <div class=" ion-text-end">


                      <ion-label class="ion-text-lg-capitalize" color="primary">
                            <h1>Client:</h1>
                            <h2 class="font-weight-bold"> John Doe</h2>

                          </ion-label>

                    </div>


                    <ion-card>
                      <ion-card-content>

                        <div class="row">

                          <div class="col">
                            <h2 class="font-weight-bold text-dark">Project name:</h2>
                          </div>

                          <div class="col">
                            <h2 class="font-weight-bold text-dark">Tiles coachy</h2>
                          </div>

                        </div>

                      </ion-card-content>
                    </ion-card>




                    <ion-card>
                      <ion-card-content>

                        <div class="row">

                          <div class="col">
                            <h2 class="font-weight-bold text-dark">ROOM NAME:</h2>
                          </div>

                          <div class="col">
                            <h2 class="font-weight-bold text-dark">LOUNGE AREA</h2>
                          </div>

                        </div>

                        <br>

                        <div class="row">

                          <div class="col">
                            <h2 class="font-weight-bold text-dark">	LENGTH(inches):</h2>
                          </div>

                          <div class="col">
                            <h2 class="font-weight-bold text-dark">20</h2>
                          </div>

                        </div>


                        <br>

                        <div class="row">

                          <div class="col">
                            <h2 class="font-weight-bold text-dark">WIDTH(inches):</h2>
                          </div>

                          <div class="col">
                            <h2 class="font-weight-bold text-dark">35</h2>
                          </div>

                        </div>

                        <br>

                        <div class="row">

                          <div class="col">
                            <h2 class="font-weight-bold text-dark">QTY(tiles):</h2>
                          </div>

                          <div class="col">
                            <h2 class="font-weight-bold text-dark">1200</h2>
                          </div>

                        </div>

                        <br>

                        <div class="row">

                          <div class="col">
                            <h2 class="font-weight-bold text-dark">PRICE:</h2>
                          </div>

                          <div class="col">
                            <h2 class="font-weight-bold text-dark">150</h2>
                          </div>

                        </div>

                        <br>

                        <div class="row">

                          <div class="col">
                            <h2 class="font-weight-bold text-dark">LABOUR:</h2>
                          </div>

                          <div class="col">
                            <h2 class="font-weight-bold text-dark">170</h2>
                          </div>

                        </div>


                        <br>

                        <div class="row ion-text-lg-end">

                          <div class="col">
                            <h2 class="font-weight-bold text-dark">Total:</h2>
                          </div>

                          <div class="col-6">
                            <h2 class="font-weight-bold text-dark">65,000</h2>
                          </div>

                        </div>

                      </ion-card-content>
                    </ion-card>

                    <ion-card>
                      <ion-card-content>

                        <div class="row">

                          <div class="col">
                            <h2 class="font-weight-bold text-dark">40 BY 40</h2>
                          </div>

                          <div class="col">
                            <h2 class="font-weight-bold text-dark">#250</h2>
                          </div>

                        </div>

                        <br>

                        <div class="row">

                          <div class="col">
                            <h2 class="font-weight-bold text-dark">60 BY 60</h2>
                          </div>

                          <div class="col">
                            <h2 class="font-weight-bold text-dark">#250</h2>
                          </div>

                        </div>


                        <br>

                        <div class="row">

                          <div class="col">
                            <h2 class="font-weight-bold text-dark">25 BY 40</h2>
                          </div>

                          <div class="col">
                            <h2 class="font-weight-bold text-dark">#200</h2>
                          </div>

                        </div>

                        <br>

                        <div class="row">

                          <div class="col">
                            <h2 class="font-weight-bold text-dark">30 BY 60</h2>
                          </div>

                          <div class="col">
                            <h2 class="font-weight-bold text-dark">#200</h2>
                          </div>

                        </div>

                        <br>

                        <div class="row">

                          <div class="col">
                            <h2 class="font-weight-bold text-dark">WORKMANSHIP</h2>
                          </div>

                          <div class="col">
                            <h2 class="font-weight-bold text-dark">#2000</h2>
                          </div>

                        </div>


                      </ion-card-content>
                    </ion-card>



        <ion-row>

          <ion-col size="8">

          </ion-col>

          <ion-col size="4">

          <span>

            <a href="#">
            <ion-button color="tertiary" class="ion-text-uppercase">
              <ion-icon name="share-social-outline"></ion-icon>
          </ion-button>
        </a>

          </span>

          &nbsp; &nbsp;

          <span>

            <a href="#">
            <ion-button color="primary" class="ion-text-uppercase">
              <ion-icon name="print-outline"></ion-icon>
          </ion-button>
        </a>

          </span>


          </ion-col>

        </ion-row>

                  </ion-card-content>
                    </ion-card>


              </ion-col>


             </ion-row>



    </ion-col>

    </ion-row>
    </ion-grid>



      <hr class="line">


</ion-content>


<app-footer></app-footer>




