

tr.list-number, td.list-number{

  background-color:  rgba(108, 74, 74, 0.71) !important;

 }



 th.total-list, td.total-list{

   background-color:  #BCCC9A !important;

  }

  th.delete-list, td.delete-list{

   background-color:   rgba(0, 0, 0, 0.4) !important;

  }



