

div.title-link{

    background-color: #4E3620 !important;
  
  }
  
  a{
  
    text-decoration:none;
    list-style: none;
  }
  
  a.text-color:hover{
  
    color: #BCCC9A !important;
  
  }
  
  ion-icon:hover{
  
    color: #C37B89 !important;
  
  }
  
  // .btn-share > *:first-child{
  
  
  //   background-color: #C4C4C4 !important;
  
  // }
  
  
  // @media(max-width:768px){
  
  //   .btn-share > *:first-child{
  
  
  //     background-color: none !important;
  
  //   }
  
  
  // }
  
  
  // div .title-project{
  
  //   background: rgba(188, 204, 154, 0.49) !important;
  
  // }
  
  
  .title-project{
  
    width: 30vw !important;
    text-align: center !important;
    justify-content: center;
    justify-items: center;
  
  
  }
  
  
  
  
  @media(max-width:768px){
  
    div{
      width: 100% !important;
  
  
  
    }
  
  
  }
  
  
  
  
  form.example ion-input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  
    border-radius: 15px;
  }
  
  
  form.example ion-input[type=text]:focus {
  
    outline-color: rgba(188, 204, 154, 0.49) !important;
  }
  
  
  .fontsearch {
    position: relative;
  }
  
  .fontsearch i {
    position: relative;
    right: 30px;
    top: 16px;
    color: #4d728f;
    font-size: 20px;
    z-index: 1000;
  }
  
  
  // /* Style the submit button */
  // form.example button {
  //   float: left;
  //   width: 20%;
  //   padding: 13px;
  //   background: #2196F3;
  //   color: white;
  //   font-size: 17px;
  //   border: 1px solid grey;
  //   border-left: none; /* Prevent double borders */
  //   cursor: pointer;
  // }
  
  
  // form.example button:hover {
  //   background: #0b7dda;
  // }
  
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  